# Binary Files
####################
*.class
*.jar

# Eclipse Files
####################
# .classpath
# .project
# .metadata
# .settings/
# bin/
# target/
tmp/


# VIM Backup file
####################
*~



# MAC Files
##################
.DS_Store
._*
